/* Abhilash Gupta */

/* Imports Start----------------------------------------------- */

@import url(http://fonts.googleapis.com/css?family=Orbitron:900);
@import url(http://fonts.googleapis.com/css?family=Lobster);
@import url(http://fonts.googleapis.com/css?family=Oswald);
@import url(http://fonts.googleapis.com/css?family=Play);

/* Imports End----------------------------------------------- */










/* Horizontal Rows Start-----------------------------------------------*/
.rowbetweenbold
{
height:3px;
background-color:#f0f0f0;
margin-top:15px;
width:80%;
margin-left:0px;
color:#f0f0f0;
}


.rowbetweenlightmenu
{
display:block;
height:5px;
background-color:#f0f0f0;
margin:5px auto;
width:70%;
color:#f0f0f0;
}

.rowbetweenpoll
{
height:10px;
background-color:#f0f0f0;
margin:0px auto;
width:100%;
color:#f0f0f0;
}



.rowbetweenlight1
{
height:5px;
background-color:#f0f0f0;
margin:5px auto;
width:80%;
margin-left:0px;
color:#f0f0f0;
}

.rowbetweenlight2
{
height:5px;
background-color:#f0f0f0;
margin:5px auto;
width:80%;
margin-left:0px;
color:#f0f0f0;
}
.rowbetweenlight3
{
height:5px;
background-color:#f0f0f0;
margin:5px auto;
width:80%;
margin-left:0px;
color:#f0f0f0;
}

.rowbetweenlight4
{
height:5px;
background-color:#f0f0f0;
margin:0px auto;
width:100%;
margin-left:0px;
color:#f0f0f0;
}

.rowbetweenlightright1
{
height:5px;
background-color:#f0f0f0;
width:70%;
margin-top:13px;
margin-right:0px;
color:#f0f0f0;
}

.rowbetweenlightright2
{
height:5px;
background-color:#f0f0f0;
width:70%;
margin-top:13px;
margin-right:0px;
color:#f0f0f0;
}
.rowbetweenlightright3
{
margin-top:13px;
height:5px;
background-color:#f0f0f0;
width:70%;
margin-right:0px;
color:#f0f0f0;
}

.rowbetweenlightright4
{
margin-top:13px;
height:5px;
background-color:#f0f0f0;
width:70%;
margin-right:0px;
color:#f0f0f0;
}

.rowbetweenlightright5
{
margin-top:13px;
height:5px;
background-color:#f0f0f0;
width:70%;
margin-right:0px;
color:#f0f0f0;
}


.rowbetweenlightright1
{
height:5px;
background-color:#f0f0f0;
width:70%;
margin-top:0px;
margin-right:0px;
color:#f0f0f0;
}

/* Horizontal Rows End-----------------------------------------------*/





/* Main  Start-----------------------------------------------*/

html,body
{
margin:0px;
padding:0px;
background-color:#FFDEAD;
min-width:1250px;
}

*, *:before, *:after {
box-sizing: inherit;
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
box-sizing: border-box;
}

/* Main  End-----------------------------------------------*/






/* Main Content Start-----------------------------------------------*/


#contentbody
{
margin-left:60px;
margin-top:30px;
margin-bottom:30px;
width:85%;
border-radius:10px;
background-color:#778899;
box-shadow:0 0 20px rgba(0,0,0,0.8);
}


#maincontenttopic
{
border-radius:10px;
height:60px;
width:100%;
background-color:rgba(0,0,0,0.8);
box-shadow: 0 9px 0px 0px tomato,0 -9px 0px 0px tomato, 12px 0 15px -4px rgba(31, 73, 125, 0.8), -12px 0 15px -4px rgba(31, 73, 125, 0.8);
}

#maincontenttopic1
{
text-align:center;
color:#5072A7;
font-size:50px;
font-family: 'Orbitron', sans-serif;
text-transform: uppercase;
margin-left:5px;
}



#loadlink
{
text-align: center;
border-radius: 5px;
font-size: 30px;
width:50%;
text-decoration: none;
margin-left: 300px;
color: #fff;
position: relative;
display: inline-block;
background-color: #55acee;
box-shadow: 0px 5px 0px 0px #3C93D5;
}

#loadlink:hover
{
transform: translate(0px, 5px);
-webkit-transform: translate(0px, 5px);
box-shadow: 0px 1px 0px 0px;
background-color: #6FC6FF;
}



.maincontentsub
{
display:none;
float:top;
position:relative;
margin:10px auto;
height:170px;
width:98%;
background-color:rgba(0,0,0,0.6);
border-radius:15px;
}


.maincontentimgbox
{
display:inline-block;
margin-left:10px;
float:left;
width:25%;
height:170px;
border-right:5px solid tomato;
}

.maincontentimg
{
cursor: pointer; cursor: hand;
z-index:9;
margin:10px auto;
position:relative;
width:80%;
height:150px;
border-bottom-right-radius:50px;
border-top-left-radius:50px;
}




.maincontentsubtop,.maincontentsubtop a
{
margin-left:10px;
display:inline-block;
font-size:30px;
font-family: 'Oswald', sans-serif;
margin-top:15px;
line-height:20px;
height:10px;
color:#5072A7;
text-decoration:none;
}


.maincontentsubquarter
{
font-size:20px;
font-family: 'Play', sans-serif;
font-weight: 700;

margin-top:5px;
line-height: 20px;
height:10px;
width:100%;
color:#F0FFF0;
}



.maincontenttransboxtext
{
display:none;
left:70px;
z-index:9;
top:-5px;
width:10%;
position:absolute;
margin: 30px;
background-color:rgba(0,0,0,0.6);
border: 1px solid black;
height:50px;
top:-20px;
font-size:20px;
font-weight: bold;
color: #fff;
font-family: 'Orbitron', sans-serif;
text-align:center;
border-radius:10px;
letter-spacing:-1px;
}


.datedefine
{
right:3px;
position:absolute;
display:inline-block;
float:right;
font-size:17px;
color:#f0f0f0;
bottom:0px;
margin-bottom:0px;
}


.authordefine
{
margin-top:0px;
float:right;
display:inline-block;
font-size:25px;
margin-right:10px;
color:#f0f0f0;
}


/* Main Content End-----------------------------------------------*/

