/* Abhilash Gupta */

/* Imports Start----------------------------------------------- */

@import url(http://fonts.googleapis.com/css?family=Orbitron:900);
@import url(http://fonts.googleapis.com/css?family=Lobster);
@import url(http://fonts.googleapis.com/css?family=Oswald:700);
@import url(http://fonts.googleapis.com/css?family=Play);

/* Imports End----------------------------------------------- */







/* Horizontal Rows Start----------------------------------------------- */
.rowbetweenbold
{
height:3px;
background-color:deepskyblue;
margin-top:15px;
width:80%;
margin-left:0px;
color:deepskyblue;
}


.rowbetweenlightmenu
{
display:block;
height:5px;
background-color:deepskyblue;
margin:5px auto;
width:70%;
color:deepskyblue;
}

.rowbetweenpoll
{
height:10px;
background-color:#f0f0f0;
margin:0px auto;
width:100%;
color:#f0f0f0;
}



.rowbetweenlight1
{
height:5px;
background-color:orange;
margin:5px auto;
width:80%;
margin-left:0px;
color:orange;
}

.rowbetweenlight2
{
height:5px;
background-color:deepskyblue;
margin:5px auto;
width:80%;
margin-left:0px;
color:deepskyblue;
}
.rowbetweenlight3
{
height:5px;
background-color:green;
margin:5px auto;
width:80%;
margin-left:0px;
color:green;
}

.rowbetweenlight4
{
height:5px;
background-color:orange;
margin:0px auto;
width:100%;
margin-left:0px;
color:orange;
}

.rowbetweenlightright1
{
height:5px;
background-color:orange;
width:70%;
margin-top:13px;
margin-right:0px;
color:orange;
}

.rowbetweenlightright2
{
height:5px;
background-color:deepskyblue;
width:70%;
margin-top:13px;
margin-right:0px;
color:deepskyblue;
}
.rowbetweenlightright3
{
margin-top:13px;
height:5px;
background-color:green;
width:70%;
margin-right:0px;
color:green;
}

.rowbetweenlightright4
{
margin-top:13px;
height:5px;
background-color:purple;
width:70%;
margin-right:0px;
color:purple;
}

.rowbetweenlightright5
{
margin-top:13px;
height:5px;
background-color:yellow;
width:70%;
margin-right:0px;
color:yellow;
}

/* Horizontal Rows End----------------------------------------------- */





/* Main  Start-----------------------------------------------*/

html,body
{
margin:0px;
padding:0px;
background-color:#FFDEAD;
min-width:1250px;
}

*, *:before, *:after {
box-sizing: inherit;
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
box-sizing: border-box;
}


/* Main  End-----------------------------------------------*/




/* Main Content Start-----------------------------------------------*/

#contentbody
{
margin:20px auto;
width:90%;
border-radius:10px;
box-shadow:0 0 20px rgba(0,0,0,0.8);
background-color:#93CCEA;
}

#contactformheading
{
margin:20px auto;
color:#555555;
font-size:50px;
font-family: 'Orbitron', sans-serif;
text-align:center;
}

#nameenter
{
float:left;
width:45%;
display:inline-block;
}

#emailenter
{
display:inline-block;
float:left;
width:45%;
}

#subjectenter
{
width:70%;
margin:20px auto;
}

#messageenter
{
width:90%;
margin:10px auto;
}

.formsubheadings
{
text-align:left;
font-size:30px;
width:30%;
font-family: 'Orbitron', sans-serif;
color:#333333;
display:inline-block;
}

#nametextbox
{
width:60%;
height:30px;
margin-left:10px;
border:2px dashed #D1C7AC;
}

#emailtextbox
{
width:60%;
height:30px;
margin-left:10px;
border:2px dashed #D1C7AC;
}

#subjecttextbox
{
width:68%;
height:30px;
margin-left:10px;
border:2px dashed #D1C7AC;
}


#messagetextbox
{
border:2px dashed #D1C7AC;
}

.textboxform:focus
{
border-color: #930; 
background: #fff;
color: #5d5d5d;
box-shadow: inset 0 1px rgba(34, 25, 25, 0.2), 0 3px rgba(255, 255, 255, 0.6), 0 0 9px rgba(235, 82, 82, 0.5); 
-moz-box-shadow: inset 0 1px rgba(34, 25, 25, 0.2), 0 3px rgba(255, 255, 255, 0.6), 0 0 9px rgba(235, 82, 82, 0.5); 
-webkit-box-shadow: inset 0 1px rgba(34, 25, 25, 0.2), 0 3px rgba(255, 255, 255, 0.6), 0 0 9px rgba(235, 82, 82, 0.5);
}



.rowbetweenform
{
width:100%;
height:5px;
color:tomato;
background-color:tomato;
}

#messageheading
{
margin:10px auto;
}


#submitcontact
{
background-color:#e74c3c;
color: white; 
cursor: pointer;
width:50%;
border-radius:10px;
height:50px;
margin-left:330px;
margin-top:20px;
margin-bottom:20px;
font-size:25px;
}

#submitcontact:hover
{
box-shadow:0 3px 3px 3px rgba(#aaa, 0.6);
}



#knowuscontent
{
margin-top:30px;
margin-left:120px;
margin-bottom:30px;
width:80%;
border-radius:10px;
box-shadow:0 0 20px rgba(0,0,0,0.8);
background-color:#93C572;
}

#knowustop
{
color:#f0f0f0;
font-family: 'Oswald', sans-serif;
font-size:55px;
margin-top:0px;
text-align:center;
}

.knowuswork
{
color:rgba(0,0,0,0.9);
font-family: 'Oswald', sans-serif;
font-size:35px;
margin-top:0px;
text-align:center;
}


.knowusrow
{
margin-top:0px;
height:5px;
width:70%;
float:left;
display:inline-block;
}


.knowusbox
{
width:90%;
background-color:#93C572;
margin:20px auto;
height:200px;
 box-shadow: 0 15px 10px rgba(0, 0, 0, 0.7);
}

.knowusimagediv
{
float:left;
height:200px;
width:30%;
display:inline-block;
}

.knowusimage
{
height:200px;
width:200px;
}

.knowusnamediv
{
margin-top:0px;
width:60%;
display:inline-block;
float:right;
}

.knowusname
{
text-align:center;
color:#f0f0f0;
display:inline-block;
font-size:30px;
margin-top:0px;
margin-bottom:0px;
font-family: 'Lobster', serif;
}


.knowusdescdiv
{
width:60%;
display:inline-block;
margin-top:0px;
}

.knowusdesc
{
color:rgba(0,0,0,0.6);
font-family: 'Oswald', sans-serif;
font-size:25px;
margin-top:0px;
}



/* Main Content End-----------------------------------------------*/

