/* Abhilash Gupta */

/* Imports Start----------------------------------------------- */

@import url(http://fonts.googleapis.com/css?family=Open+Sans:800italic);
@import url(http://fonts.googleapis.com/css?family=Orbitron:900);
@import url(http://fonts.googleapis.com/css?family=Lobster);
@import url(http://fonts.googleapis.com/css?family=Oswald:700);

/* Imports End----------------------------------------------- */

/* Main  Starts-----------------------------------------------*/

html,body
{
margin:0px;
padding:0px;
background-color:#FFDEAD;
min-width:1250px;
}

*, *:before, *:after {
box-sizing: inherit;
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
box-sizing: border-box;
}

/* Main  Ends-----------------------------------------------*/




/* Animations Start----------------------------------------------- */

@keyframes bounce
{
         0%{ box-shadow: 0 0 0 4px deepskyblue; opacity:1;}
        25%{ box-shadow: 0 0 0 1px deepskyblue; opacity:1;}
        50%{ box-shadow: 0 0 0 7px deepskyblue; opacity:1; }
        75%{ box-shadow: 0 0 0 4px deepskyblue; opacity:1;}
        100%{ box-shadow: 0 0 0 5px deepskyblue; opacity:1;}
}


/* Animations End----------------------------------------------- */





/* Horizontal Rows Start-----------------------------------------------*/
.rowbetweenpoll
{
height:10px;
background-color:#f0f0f0;
margin:0px auto;
width:100%;
color:#f0f0f0;
}



.rowbetweenlight1
{
height:5px;
background-color:orange;
margin:0px auto;
width:80%;
margin-left:0px;
color:orange;
}

.rowbetweenlight2
{
height:5px;
background-color:deepskyblue;
margin:0px auto;
width:80%;
margin-left:0px;
color:deepskyblue;
}
.rowbetweenlight3
{
height:5px;
background-color:green;
margin:0px auto;
width:80%;
margin-left:0px;
color:green;
}

.rowbetweenlight4
{
height:5px;
background-color:orange;
margin:0px auto;
width:100%;
margin-left:0px;
color:orange;
}

.rowbetweenlightright1
{
height:5px;
background-color:orange;
margin:0px auto;
width:70%;
margin-right:0px;
color:orange;
}

.rowbetweenlightright2
{
height:5px;
background-color:deepskyblue;
margin:0px auto;
width:70%;
margin-right:0px;
color:deepskyblue;
}
.rowbetweenlightright3
{
height:5px;
background-color:green;
margin:0px auto;
width:70%;
margin-right:0px;
color:green;
}

.rowbetweenlightright4
{
height:5px;
background-color:purple;
margin:0px auto;
width:70%;
margin-right:0px;
color:purple;
}

.rowbetweenlightright5
{
height:5px;
background-color:yellow;
margin:0px auto;
width:70%;
margin-right:0px;
color:yellow;
}

/* Horizontal Rows Ends-----------------------------------------------*/







/* Logo Starts-----------------------------------------------*/

#toplogo 
{
font-size:140px;
text-align:center;
height:200px;
font-family: 'Orbitron', sans-serif;
background-color:#666699;
margin:auto;
text-shadow:     0 1px 0 hsl(174,5%,80%),
	                 0 2px 0 hsl(174,5%,75%),
	                 0 3px 0 hsl(174,5%,70%),
	                 0 4px 0 hsl(174,5%,66%),
	                 0 5px 0 hsl(174,5%,64%),
	                 0 6px 0 hsl(174,5%,62%),
	                 0 7px 0 hsl(174,5%,61%),
	                 0 8px 0 hsl(174,5%,60%),
	
	                 0 0 5px rgba(0,0,0,.05),
	                0 1px 3px rgba(0,0,0,.2),
	                0 3px 5px rgba(0,0,0,.2),
	               0 5px 10px rgba(0,0,0,.2),
	              0 10px 10px rgba(0,0,0,.2),
	              0 20px 20px rgba(0,0,0,.3);
}


#toplogo a
{
text-decoration:none !important;
}


/* Logo Ends-----------------------------------------------*/



/* Menu Start ----------------------------------------------- */

#menubar
{
width:100%;
height:60px;
background: black;
z-index:10;
}

#menubar ul 
{ 
font-size:30px;
list-style-type: none;
margin: 0 auto;
padding-left:0;
text-align:right;
width: 100%;
}

#menubar ul li 
{ 
display: inline-block; 
line-height: 60px;
margin-left: 30px;
}

#menubar ul li a
{
text-decoration: none; 
color: white;
-webkit-transition: all 0.3s ease-in-out;
-moz-transition: all 0.3s ease-in-out;
transition: all 0.3s ease-in-out;
}

#menubar ul li a:hover
{
background-color: #ffffff;
text-decoration:underline; 
color:  black;
-webkit-border-radius: 3px;
border-radius: 3px;
border-color: #000000;
border-width:3px;
}




.logomain1
{
color:#FF9933;
}

.logomain2
{
color:#FFFFFF;
}

.logomain3
{
color:#00FF00;
}



#logohead
{  
font-size:50px;
text-align:left;
font-family: 'Open Sans', sans-serif;
float:left;
}


#logohead a:hover
{
background-color:black !important;
text-decoration: none !important;
}

.fixed-header 
{
position: fixed;
top:0; left:0;
font-size:30px;
list-style-type: none;
margin: 0 auto;
padding-left:0;
text-align:right;
width: 100%;
}

/* Menu End----------------------------------------------- */



/* Content Starts-----------------------------------------------*/

#contentbody
{
margin-left:20px;
margin-top:20px;
height:1600px;
width:90%;
border-radius:10px;
background-color:#f0f0f0;
box-shadow:0 0 20px rgba(0,0,0,0.8);
}



/* Main Content 1 Starts-----------------------------------------------*/

#maincontent1
{
display: inline-block; 
float:left;
position:relative;
margin-left:10px;
margin-right:20px;
margin-top:10px;
margin-bottom:20px;
background-color:#778899;
height:485px;
width:60%;
border-radius:15px;
box-shadow: 0 9px 0px 0px tomato,0 -9px 0px 0px tomato, 12px 0 15px -4px rgba(31, 73, 125, 0.8), -12px 0 15px -4px rgba(31, 73, 125, 0.8);
}

.maincontent1imgbox
{
display:inline-block;
float:left;
margin-top:3px;
margin-bottom:0px;
margin-right:0px;
margin-left:0px;
width:50%;
height:295px;
background-color:#000000;
border-top-left-radius: 10px;
border-bottom-left-radius: 10px;
}

.maincontent1img
{
z-index:9;
margin:2px auto;
margin-left:0px;
position:relative;
width:100%;
height:290px;
border-top-left-radius: 10px;
border-bottom-left-radius: 10px;
}

.maincontent1img:hover
{
animation: bounce .5s linear;
}





.maincontent1bottom
{
padding:5px;
display:inline-block;
float:left;
margin:3px auto;
width:100%;
height:180px;
background-color:rgba(0,0,0,0.6);
margin-top:5px;
border-radius:10px;
}

.maincontent1bottomtop
{
color:#f0f0f0;
font-size:25px;
margin-left:3px;
font-family: 'Oswald', sans-serif;
margin-top:0px;
line-height:25px;
height:10px;
}

.maincontent1bottomquarter
{
margin-left:3px;
font-size:20px;
font-family: 'Lobster', cursive;
margin-top:10px;
line-height: 20px;
height:10px;
width:100%;
color:#00AB66;
}


.maincontent1right
{
display:inline-block;
float:left;
margin-top:3px;
width:50%;
height:295px;
background-color:rgba(0,0,0,0.6);
border-top-right-radius: 10px;
border-bottom-right-radius: 10px;
}




.maincontent1rightsub
{
display:inline-block;
float:right;
margin-top:1px;
margin-bottom:1px;
width:100%;
height:96px;
background-color:#f0f0f0;
border-top-right-radius: 10px;
border-bottom-right-radius: 10px;
padding:0px;
}

.maincontent1rightsubtop
{
font-size:25px;
color:#5072A7;
margin-left:3px;
font-family: 'Oswald', sans-serif;
margin-top:0px;
line-height:25px;
height:10px;
}

.maincontent1rightsubhalf
{
margin-left:3px;
color:#F0FFF0;
font-size:20px;
font-family: 'Lobster', cursive;
margin-top:0px;
line-height: 18px;
width:99%;
background-color:rgba(0,0,0,0.6);
border-bottom-right-radius:10px;
}

/* Main Content 1 Ends-----------------------------------------------*/


/* Side Content 1 Starts-----------------------------------------------*/
#sidecontent1
{
display: inline-block; 
float:left;
position:relative;
margin-left:10px;
margin-right:10px;
margin-top:20px;
margin-bottom:10px;
background-color:#778899;
height:500px;
width:35%;
border-radius:20px;
border-top: 10px solid tomato;
border-bottom: 40px solid tomato;
box-shadow:
     10px 0px 15px -5px rgba(0, 0, 0, 0.15),
    -10px 0px 15px -5px rgba(0, 0, 0, 0.15),
    -15px 0 15px -15px inset;
}


.sidecontent1imgbox
{
display:inline-block;
float:left;
margin:5px auto;
width:100%;
height:250px;
background-color:#000000;
border-radius: 10px;
}

.sidecontent1img
{
z-index:9;
margin-top:5px;
margin-bottom:0px;
position:relative;
width:100%;
height:245px;
border-radius: 10px;
}



.sidecontent1img:hover
{
animation:bounce .5s linear;
}

.sidecontent1bottom
{
color:#000000;
font-size:20px;
margin-top:0px;
padding:10px;
display:inline-block;
float:left;
width:100%;
height:180px;
background-color:#f0f0f0;
border-radius:10px;
}


.sidecontent1bottomtop
{
font-size:22px;
margin-left:3px;
font-family: Rockwell Extra Bold,sans-serif;
font-weight: 900;
margin-top:0px;
line-height:20px;
height:10px;
color:#ED2939;
width:60%;
}


.sidecontent1bottomquarter
{
margin-left:3px;
font-size:17px;
font-family: Lucida Sans Typewriter,serif;
font-weight: 700;
font-style:italic;
margin-top:0px;
line-height: 20px;
height:10px;
width:100%;
color:#1D6660;
}

/* Side Content 1 Ends-----------------------------------------------*/

/* Main Content 2 Starts-----------------------------------------------*/

#maincontent2
{
display: inline-block; 
float:left;
position:relative;
margin-left:10px;
margin-right:20px;
margin-top:20px;
margin-bottom:10px;
background-color:#778899;
height:1000px;
width:80%;
border-radius:15px;
box-shadow: 0 9px 0px 0px tomato, 0 -9px 0px 0px tomato, 12px 0 15px -4px rgba(31, 73, 125, 0.8), -12px 0 15px -4px rgba(31, 73, 125, 0.8);
}


.maincontent2sub
{
display:inline-block;
float:top;
position:relative;
margin:10px auto;
height:170px;
width:98%;
background-color:#f0f0f0;
border-radius:15px;
}


.maincontent2imgbox
{
display:inline-block;
margin-left:10px;
float:left;
width:25%;
height:170px;
border-right:5px solid tomato;
}

.maincontent2img
{
z-index:9;
margin:10px auto;
position:relative;
width:80%;
height:150px;
border-bottom-right-radius:50px;
border-top-left-radius:50px;
}


.maincontent2img:hover
{
animation:bounce .5s linear;
}


.maincontent2subtop
{
font-size:30px;
margin-left:10px;
font-family: Rockwell Extra Bold,sans-serif;
font-weight: 900;
margin-top:5px;
line-height:20px;
height:10px;
color:#B5651D;
}


.maincontent2subquarter
{
margin-left:10px;
font-size:23px;
font-family: Lucida Sans Typewriter,serif;
font-weight: 700;
font-style:italic;
margin-top:5px;
line-height: 20px;
height:10px;
width:100%;
color:#6E7F80;
}



/* Main Content 2 Ends-----------------------------------------------*/


/* Side Content 2 Starts-----------------------------------------------*/
#sidecontent2
{
display: inline-block; 
float:left;
position:relative;
margin-left:10px;
margin-right:10px;
margin-top:20px;
margin-bottom:10px;
background-color:#778899;
height:950px;
width:15%;
border-radius:20px;
border-top: 10px solid tomato;
border-bottom: 40px solid tomato;
box-shadow:
     10px 0px 15px -5px rgba(0, 0, 0, 0.15),
    -10px 0px 15px -5px rgba(0, 0, 0, 0.15),
    -15px 0 15px -15px inset;
}


.pollclass
{
 display:none; 
}


.pollquestion
{
margin-left:3px;
font-size:30px;
font-family: 'Lobster', cursive;
margin-top:20px;
line-height: 30px;
height:20px;
width:100%;
color:deepskyblue;
}

.polloption
{
margin-left:3px;
font-size:20px;
font-family: 'Lobster', serif;
line-height: 20px;
height:10px;
width:100%;
color:#000000;
}

.polloptiondisplayhide
{
display:none;
}


#polloptionname1display
{
border-bottom-right-radius:10px;
border-top-right-radius:10px;
margin-top:10px;
float:left;
display:block;
font-size:20px;
font-family: 'Lobster', serif;
width:100%;
line-height: 30px;
height:30px;
background-color:blue;
color:#000000;
}

#polloptionname2display
{
border-bottom-right-radius:10px;
border-top-right-radius:10px;
margin-top:10px;
display:block;
width:100%;
font-size:20px;
font-family: 'Lobster', serif;
line-height: 30px;
height:30px;
background-color:green;
color:#000000;
}

#polloptionname3display
{
border-bottom-right-radius:10px;
border-top-right-radius:10px;
margin-top:10px;
display:block;
width:100%;
line-height: 30px;
height:30px;
font-size:20px;
font-family: 'Lobster', serif;
background-color:red;
color:#000000;
}

#polloptionname4display
{
border-bottom-right-radius:10px;
border-top-right-radius:10px;
margin-top:10px;
display:block;
width:100%;
font-size:20px;
font-family: 'Lobster', serif;
line-height: 30px;
height:30px;
background-color:yellow;
color:#000000;
}

input[type="radio"] 
{
display:inline-block;
color: #292321;
width:25px;
height:25px;
cursor:pointer;
-moz-border-radius:  50%;
border-radius:  50%;
background-color:#292321;
}









.bluebutton {
text-align: center;
border-radius: 5px;
font-size: 30px;
width:100%;
text-decoration: none;
margin: 10px auto;
color: #fff;
position: relative;
display: inline-block;
background-color: #55acee;
box-shadow: 0px 5px 0px 0px #3C93D5;
}

.bluebutton:hover{
transform: translate(0px, 5px);
-webkit-transform: translate(0px, 5px);
box-shadow: 0px 1px 0px 0px;
background-color: #6FC6FF;
}

/* Side Content 2 Starts-----------------------------------------------*/